

.wfc-product-details {
    flex-direction: column;
}

.wfc-product-wrap, .wfc-product-details, .wfc-product-header, .wfc-product-body, .wfc-product-footer {
    display: flex;
    flex: 1;
}

.wfc *, .wfc *::after, .wfc *::before {
    box-sizing: border-box;
    word-break: initial;
    word-wrap: initial;
}

.wfc * {
    line-height: inherit;
}

a {
    text-decoration: none;
}

.wfc_cart_header{
    position: absolute;
    z-index: 3;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    top: 45px;
    padding: 0 0 0 1.4em;
    transition: opacity .2s 0s,border-radius .5s;
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eaeaea;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.wfc_cart_header_left{
    flex: 1;
}

.wfc_cart-title {
    position: absolute;
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #263646;
    white-space: nowrap;
    transition: opacity .3s,transform .3s;
}

.wfc_cart_header_right{
    display: flex;
    justify-content: flex-end;
}

.wfc_notice{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1.4px;
    opacity: 0;
    visibility: hidden;
    transition: transform .3s,opacity .3s,visibility 0s;
    color: var(--xt-woofc-header-color);
    transform: scale(0);
    white-space: nowrap;
    flex: 1;
}
.wfc_notice.wfc_notice-error{
    color: #d91b1b;
}

.wfc_cart-body{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0;
    margin: 30px 0 0;
    height: calc(100% - 40px - 72px + 2px);
    color: #666666;
    background-color: #ffffff;
    transition: opacity .2s;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.wfc_cart-body-header{
    color: #808b97;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    margin-top: -1px;
}

.wfc_cart-body .wfc-list-wrap{
    flex: 1;
}

.wfc_cart-body .wfc-list{
    padding: 12px;
    position: relative;
    margin: 0 0 50px;
    list-style: none;
}

.wfc_cart-body .wfc-list li {
    transition: transform .3s .2s,opacity .3s .2s;
    opacity: 1;
    transform: translateX(80px);
    transform: translateX(0);
    position: relative;
    opacity: 1;
    transition: opacity 0s .2s,transform 0s .2s;
    list-style: none;
    margin: 0;
}

.wfc-product-wrap{
    align-items: center;
}

.wfc-list .wfc-no-product{
    display: none;
}

.wfc-product-image{
    overflow: hidden;
    width: 80px;
    align-self: flex-start;
    display: inline-flex;
    border-radius: calc(0 + 0 + 0);
    border: 0px solid transparent;
    padding: 0;
}

.wfc_cart-body a {
    color: #263646;
    transition: color .3s;
    text-decoration: none;
}

.wfc-product-image a {
    border-radius: 0;
    overflow: hidden;
}

.wfc-product-image img {
    display: block;
    width: 100%;
    height: auto;
}

.wfc-product-details {
    padding: 0 0 0 4%;
    width: calc(100% - 80px);
}

.wfc-product-header {
    margin-bottom: 10px;
}

.wfc-product-title, .wfc-price {
    font-weight: bold;
    font-size: 16px;
}

.wfc-product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
    flex: 1;
    flex-direction: column;
    padding-right: 4%;
    color: #263646;
}

.wfc-product-title a, .wfc-product-title span.wfc-product-title-inner {
    color: #263646;
}

.wfc-price {
    display: flex;
    flex: 0;
    flex-direction: column;
    line-height: 1.2;
    color: #263646;
    position: relative;
}

.wfc-product-body {
    flex-direction: column;
}

.wfc-product-footer {
    align-content: center;
}

.wfc-product-details::after {
    clear: both;
    content: "";
    display: block;
}

.wfc_cart-body .wfc-list li::after {
    clear: both;
    content: "";
    display: block;
}

.wfc-quantity {
    position: relative;
    display: inline-flex;
    height: 25px;
    z-index: 10;
    justify-content: flex-start;
    margin-right: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wfc-quantity form {
    border: 1px solid #eaeaea;
    overflow: hidden;
    margin: 0;
    transition: opacity .3s ease;
    border-radius: 0;
}

.wfc-quantity .wfc-quantity-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.wfc-quantity .wfc-quantity-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eaeaea;
    padding: 0 5px;
}

.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input {
    color: inherit;
    font-size: 14px;
}

.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input input {
    display: block;
    margin: 0;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 25px;
    max-width: 65px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    transition: width .2s ease;
    will-change: width;
    box-shadow: initial !important;
    color: inherit;
}

.wfc-quantity .wfc-quantity-col.wfc-quantity-button {
    color: #666666;
}

.wfc-quantity .wfc-quantity-col.wfc-quantity-col-minus, .wfc-quantity .wfc-quantity-col.wfc-quantity-col-plus {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    min-width: 25px;
    font-size: 10px;
}

.wfc i {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.wfc-quantity .wfc-quantity-col:last-child {
    border-right: 0;
}

.wfc-actions {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.wfc-actions a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #263646;
    margin-left: 10px;
}

.wfc-actions a:hover, .wfc-actions a:focus {
    color: #d91b1b;
    text-decoration: none;
}

.wfc_cart-body .wfc-list li:not(:last-of-type):not(.wfc-no-product) {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.wfc_cart-body .wfc-list li:not(:last-of-type):not(.wfc-no-product):not(.wfc-deleting-last) {
    border-bottom: 1px solid #eaeaea;
}

/* Cross */

.wfc-actions .wfc-delete-item-1{
    width: 16px;
    height: 16px;
    background-color: #ff0202;
    text-align: center;
    border: 1px solid #ff0202;
    border-radius: 50%;
    color: #ffffff;
    align-self: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -7px;
    left: 60px;
}

.wfc-actions .wfc-delete-item-1 i{
    font-size: 10px;
}

.wfc-actions .wfc-delete-item-1:hover{
    background-color: #7c0303;
    border: 1px solid #7c0303;
    color: #ffffff;
}