@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700,800);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #b4bad2;
	color: #000;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	text-decoration: none;
	outline: none;
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
	cursor: pointer;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	/* background: linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%); */
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

.content-wrap {
    position: relative;
    background: #b4bad2;
}

.part_1{
    width: 32%;
    border: 1px solid #ccc;
    padding: 30px;
    display: inline-block;
}
.part_1:not(:last-child) {
    margin-right: 1.66%;
}

.product_image{}
.product_image img{
    width: 100%;
}
.part_1 h3{
    font-size: 36px;
    margin: 0;
}
.part_1 p{
    font-size: 18px;
    margin: 15px 0 20px;
}
.part_1 button{
    padding: 15px 30px;
    background-color: #f03b3b;
    border: 1px solid #f03b3b;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}
.part_1 button:hover{
    padding: 15px 30px;
    background-color: #a31212;
    border: 1px solid #a31212;
    font-size: 16px;
    color: #fff;
}

.wcfc-container {
	background: #ffffff;
}

/* Main Part for cart */

.wcfc-container-wrap {
	position: absolute;
	right: 0;
    top: 0;
	/* right: -8px; */
	z-index: 1001;
	width: 350px;
	height: 100%;
	background: #FFFFFF;
	/* padding: 2.5em 1em 0; */
	font-size: 1.15em;
	-webkit-transform: translate3d(1280px,0,0);
	transform: translate3d(1280px,0,0);
	/* -webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0); */
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(36,36,36,0.5);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.wcfc-show-container .wcfc-container-wrap {
    overflow-y: scroll;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.wcfc-show-container .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.wcfc-header{
    padding-bottom: 3em;
    border-bottom: 1px solid #E8E8E8;
}

.wcfc-header-text {
	width: 80%;
	display: flex;
	justify-content: space-between;
    position: absolute;
    left: -10px;
    top: 1.4em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 14px;
    border: none;
    background: transparent;
    color: #333333;
}
.wcfc-header-text p {
	margin: 0;
}
.wcfc-header-text p span {
	font-weight: 700;
}
.wcfc-header-text button#wcfc-clear-all {
	color: #808080;
	border: none;
    background: transparent;
	transition: 0.3s;
    cursor: pointer;
}
.wcfc-header-text button#wcfc-clear-all:hover {
	color: #000;
}

.wcfc-empty-content{
    display: none;
}
.wcfc-empty-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 75vh;
}
.wcfc-empty-cart-img{
    width: 10vw;
}
.wcfc-empty-cart-img img{
    width: 100%;
}
.wcfc-empty-content-wrapper h2{
    margin: 20px 0 5px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #525252;
}
.wcfc-empty-content-wrapper p{
    margin: 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #B8B8B8;
}

/* Close Button */
/* .wcfc-close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1.4em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
	border: 1px solid #808080;
	border-radius: 3px;
	padding: 5px;
    cursor: pointer;
} */
.wcfc-close-button {
	position: absolute;
    right: 1em;
    top: 1.5em;
    background: transparent;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
}
.wcfc-close-button:hover {
	color: #000;
    border: 1px solid #000;
}

/* .wcfc-close-button::before,
.wcfc-close-button::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 95%;
	top: 0;
	left: 46%;
	background: #808080;
}

.wcfc-close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.wcfc-close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
} */

.wcfc-main-container {
    /* display: none; */
}
.wcfc-main-container-wrapper{
	max-height: 270px;
    overflow: hidden;
    overflow-y: scroll;
}
.wcfc-items {}
.wcfc-single-item {
	padding: 20px 1em 30px;
	/* border-top: 1px solid #E8E8E8; */
	border-bottom: 1px solid #E8E8E8;
	display: flex;
    justify-content: center;
	transition: 0.3s;
}
.wcfc-single-item:last-child{
    border-bottom: 0;
}
.wcfc-single-item:hover {
	background-color: #F8F8F8;
}

.wcfc-single-item:hover .wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-input {
	background-color: #FFF;
}

.wcfc-item-image {
	/* border: 1px solid red; */
	width: 20%;
	display: flex;
    align-items: center;
}
.wcfc-img-wrapper {
    display: grid;
    align-items: center;
    position: relative;
    border-radius: 4px;
}
.wcfc-img-wrapper img {
    display: block;
	width: 100%;
}

.wcfc-img-wrapper:hover .wcfc-item-remove {
    width: 100%;
    height: 100%;
}

.wcfc-item-remove {
    width: 0;
    height: 0;
    background: linear-gradient(0deg, rgba(85, 85, 85, 0.8), rgba(85, 85, 85, 0.8));
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.2s ease;
    border-radius: 4px;
}

.wcfc-item-remove button {
    font-size: 16px;
    background-color: transparent;
    color: #FFF;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.wcfc-item-remove button:hover {
    color: #cdcdcd;
}

.wcfc-item-details {
	width: 60%;
	padding: 0 12px;
	/* width: 1px solid green; */
}
.wcfc-item-title{
	margin: 0;
	color: #525252;
	/* font-family: 'Inter'; */
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}
.wcfc-item-details p{
	margin: 5px 0 10px;
	/* font-family: 'Inter'; */
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	color: #B8B8B8;
}
.wcfc-item-details .wcfc-item{}
.wcfc-item-details .wcfc-quantity{}

.wcfc-item-price{
	/* border: 1px solid red; */
	width: 20%;
	text-align: right;
}
.wcfc-item-price span{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}


.wcfc-qty {
    /* display: block;
    line-height: 1.2;
    font-size: 13px;
    color: #222222;
    font-weight: 400;
    margin-top: 5px; */
}
.wcfc-quantity{
    position: relative;
    display: inline-flex;
    height: 25px;
    z-index: 10;
    justify-content: flex-start;
    margin-right: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wcfc-quantity form {
    /* border: 1px solid #eaeaea; */
    overflow: hidden;
    margin: 0;
    transition: opacity .3s ease;
    border-radius: 0;
}
.wcfc-quantity-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	align-items: center;
}
.wcfc-quantity .wcfc-quantity-col{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* border-right: 1px solid #eaeaea; */
    padding: 0 5px;
}
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-input {
	margin: 0 5px;
    color: inherit;
    font-size: 14px;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    width: 35px;
    height: 22px;
    transition: 0.3s;
}
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-input input {
    display: block;
    margin: 0;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 25px;
    max-width: 65px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    border: 0;
    padding: 0;
    background: none;
    outline: none;
    transition: width .2s ease;
    will-change: width;
    box-shadow: initial !important;
    color: inherit;
}
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-input input::-webkit-outer-spin-button,
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-input input[type=number] {
    -moz-appearance: textfield;
}
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-button {
    color: #A3A3A3;
}

.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-minus, 
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-plus {
	width: 15px;
    height: 15px;
	font-size: 8px;
	border: 1px solid #CCCCCC;
	border-radius: 50%;
	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    transition: 0.3s;
}
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-minus:hover, 
.wcfc-quantity .wcfc-quantity-col.wcfc-quantity-col-plus:hover {
	background-color: #2BC31A;
	border: 1px solid #2BC31A;
    color: #FFF;
}


.wcfc-menu-footer-top{
    padding: 30px 1em 60px;
    border-top: 1px solid #E8E8E8;
    /* border-bottom: 1px solid #E8E8E8; */
}
.wcfc-subtotal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.wcfc-st-left{}
.wcfc-st-left h2{
    margin: 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #525252;
}
.wcfc-st-right{
    text-align: right;
}
.wcfc-st-right span{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #282828;
}

.wcfc-shipping-method{
    margin-bottom: 15px;
}
.wcfc-shipping-method h2{
    margin: 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #525252;
}
.wcfc-shipping-wrapper{
    display: flex;
    justify-content: space-between;
}
.wcfc-shipping-option{
    display: flex;
    flex-direction: column;
}
.wcfc-shipping-option label{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #666666;
    display: inline-flex;
    align-items: center;
}
.wcfc-shipping-option label:first-child{
    margin: 10px 0;
}
.wcfc-radio__input{
    display: none;
}
.wcfc-radio__radio{
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #8F8F8F;
    border-radius: 50%;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 4px;
    cursor: pointer;
}
.wcfc-radio__radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #FFF;
    border-radius: 50%;

    transform: scale(0);
    transition: transform 0.3s;
}
.wcfc-radio__input:checked + .wcfc-radio__radio{
    border: 1px solid #007FF2;
    background-color: #007FF2;
}

.wcfc-radio__input:checked + .wcfc-radio__radio::after {
    transform: scale(1);
}

/* .wcfc-shipping-option input{} */
.wcfc-shipping-rate{
    text-align: right;
}
.wcfc-shipping-rate span{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-height: 400;
    font-size: 14px;
    line-height: 140%;
    color: #666666;
}

.wcfc-apply-coupon{
    margin-bottom: 15px;
}
.wcfc-apply-coupon h2{
    margin: 0 0 10px 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #525252;
}
.wcfc-coupon-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wcfc-coupon-option{}
.wcfc-applyCouponCodeForm{
    display: inline-flex;
}
.wcfc-applyCouponCodeField{
    width: 148px;
    padding: 12px 0 12px 12px;
    font-size: 14px;
    color: #8F8F8F;
    background: #FFFFFF;
    border: 1px solid #8F8F8F;
    border-right: transparent;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;
}
.wcfc-applyCouponCodeField:focus{
    border: 1px solid #2BC31A;
    border-right: 0;
    outline: #2BC31A;
}
.wcfc-applyCouponCodeBtn{
    width: 80px;
    background-color: transparent;
    border: 1px solid #2BC31A;
    border-radius: 0 4px 4px 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #2BC31A;
    cursor: pointer;
}

.wcfc-coupon-value{
    text-align: right;
}
.wcfc-coupon-value span{
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #666666;
}

.wcfc-shipping-address{}
.wcfc-shipping-address h2{
    margin: 0 0 10px 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #525252;
}
.wcfc-shipping-address #wcfc-address{
    margin: 0;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #525252;
}

.wcfc-menu-footer-bottom{
    padding: 30px 1em;
    border-top: 1px solid #E8E8E8;
}
.wcfc-bottom-button{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wcfc-bottom-button a{
    
}
.wcfc-bottom-button a i{
    margin-right: 8px;
}
.wcfc-bottom-button a.wcfc-shopping-btn,
.wcfc-bottom-button a.wcfc-view-cart-btn,
.wcfc-bottom-button a.wcfc-checkout-btn{
    display: flex;
    width: 100%;
    padding: 12px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #2BC31A;
    border: 1px solid #2BC31A;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
.wcfc-bottom-button a:not(:last-child){
    margin-bottom: 10px;
}
.wcfc-bottom-button a.wcfc-shopping-btn,
.wcfc-bottom-button a.wcfc-checkout-btn{
    background-color: #2BC31A;
    color: #FFF;
}
.wcfc-bottom-button a.wcfc-view-cart-btn:hover{
    background-color: #2BC31A;
    color: #FFF;
}
.wcfc-bottom-button a.wcfc-shopping-btn:hover,
.wcfc-bottom-button a.wcfc-checkout-btn:hover{
    background-color: transparent;
    color: #2BC31A;
}
