*{
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  position: relative;
}

.wfcCarticon{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  /* padding: 10px 13px; */
  border-radius: 50%;
  border: 1px solid #0000ff;
  background-color: #0000ff;
  transition: 0.3s;
}
.wfcCarticon i{
  font-size: 20px;
  color: #fff;
  transition: 0.3s;
}
.wfcCarticon:hover{
  border: 1px solid #0000ff;
  background-color: #0000ff;
}
.wfcCarticon:hover i{
  transform: scale(1.10);
}

#cartItem{
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 2px;
  width: 15px;
  height: 15px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  position: absolute;
  color: #ffffff;
  right: 48px;
  bottom: 86px;
  background-color: #0000ff;
}

  
/* The popup form - hidden by default */
.wfc-cart-info {
  width: 450px;
  height: 70%;
  position: relative;
  display: none;
  position: fixed;
  bottom: 115px;
  right: 42px;
  border: 1px solid #f1f1f1;
  z-index: 9;
}
.wfc-cart-info::before{
  content: "";
  position: absolute;
  right: 20px;
  bottom: -15px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #f1f1f1;
}



/* Cart Info Header start */

.wfc-cart-content{}
.wfc-cart-inner{
  padding: 0 15px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.wfc-cart-wrapper{}
/* .wfc-cart-header{
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  top: 45px;
  padding: 0 1em 0.5em 1em;
  transition: opacity .2s 0s,border-radius .5s;
  background: #ffffff;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eaeaea;
  border-radius: 0;
  align-items: center;
} */
/* .wfc-cart-header-left{
  flex: 1;
}
.wfc-cart-title{
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #263646;
  white-space: nowrap;
  transition: opacity .3s,transform .3s;
} */
/* .wfc-cart-header-right{} */
/* .wfc-notice{
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.4px;
  opacity: 0;
  visibility: hidden;
  transition: transform .3s,opacity .3s,visibility 0s;
  color: var(--xt-woofc-header-color);
  transform: scale(0);
  white-space: nowrap;
  flex: 1;
}
.wfc-notice.wfc-notice-error{
  color: #d91b1b;
} */

.wfc-applyCouponCode{
  display: flex;
  align-items: center;
}
.wfc-applyCouponCode .wfc-applyCouponCodeBtn{
  height: 40px;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
}
.cmnBtn{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border-width: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
  opacity: 0.65;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.couponBtn, .checkoutBtn{
  /* height: 50px; */
  background-color: #24a0ed;
  color: #fff;
  border: 1px solid #24a0ed;
}
.continueShoppingBtn{
  /* height: 50px; */
  background-color: #292b2c;
  color: #fff;
  border: 1px solid #292b2c;
}
.wfc-applyCouponCodeBtnStyle{
  display: inline;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: blue;
}
.wfc-applyCouponCode .wfc-applyCouponCodeBtn:focus {
  box-shadow: none;
}
.wfc-applyCouponCodeForm{
  margin-right: 0.1em;
}

.wfc-applyCouponCode .wfc-applyCouponCodeField{
  height: 30px;
  display: none;
  padding: 5px;
  border: 1px solid #eaeaea;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.wfc-applyCouponCode .wfc-applyCouponCodeField:focus{
  box-shadow: 5px 0px 10px #eaeaea;
  outline: none;
}

/* Cart Info Header end */

.wfc-cart-body{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 20px 0 0;
  height: calc(100% - 40px - 72px + 2px);
  color: #666666;
  background-color: #ffffff;
  transition: opacity .2s;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.wfc-cart-body a{
  color: #263646;
  transition: color .3s;
  text-decoration: none;
}

.wfc-cart-body .wfc-title {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  /* margin: 0 0 15px; */
  background: #222;
  border-radius: 3px;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
}


.wfc-cart-body .wfc-list-wrap{
  flex: 1;
  padding-bottom: 100px;
}
.wfc-cart-body .wfc-list{
  padding: 12px 0;
  position: relative;
  margin: 0 0 50px;
  list-style: none;
}
.wfc-cart-body .wfc-list li {}
.wfc-no-product{
  display: none;
}

.wfc-product{
  position: relative;
}

.wfc-cart-body .wfc-list li::after {
  clear: both;
  content: "";
  display: block;
}
.wfc-quantity{
  position: relative;
  display: inline-flex;
  height: 25px;
  z-index: 10;
  justify-content: flex-start;
  margin-right: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.wfc-quantity form {
  border: 1px solid #eaeaea;
  overflow: hidden;
  margin: 0;
  transition: opacity .3s ease;
  border-radius: 0;
}
.wfc-quantity-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.wfc-quantity .wfc-quantity-col{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #eaeaea;
  padding: 0 5px;
}
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input {
  color: inherit;
  font-size: 14px;
}
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input input {
  display: block;
  margin: 0;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 25px;
  max-width: 65px;
  height: 100%;
  text-align: center;
  font-size: 14px;
  border: 0;
  padding: 0;
  background: none;
  outline: none;
  transition: width .2s ease;
  will-change: width;
  box-shadow: initial !important;
  color: inherit;
}
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input input::-webkit-outer-spin-button,
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-input input[type=number] {
  -moz-appearance: textfield;
}
.wfc-quantity .wfc-quantity-col.wfc-quantity-button {
  color: #666666;
}
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-minus,
.wfc-quantity .wfc-quantity-col.wfc-quantity-col-plus {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  min-width: 25px;
  font-size: 10px;
}
.wfc-quantity .wfc-quantity-col:last-child {
  border-right: 0;
}

.wfc-cart-body .wfc-list li:not(:last-of-type):not(.wfc-no-product) {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.wfc-cart-body .wfc-list li:not(:last-of-type):not(.wfc-no-product):not(.wfc-deleting-last) {
  border-bottom: 1px solid #eaeaea;
}


.wfc i {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* Cart Body end */

/* Cart Footer Start */
.wfc-cart-footer{
  position: absolute;
  z-index: 3;
  left: 0;
  width: 100%;
  display: block;
  bottom: 0;
  padding: 0 0 0.5em;
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  overflow: hidden;
  align-items: center;
}

.wfc-cart-footer-top{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}
.wfc-cart-footer-top-left{
  flex: 1;
  padding: 1em 0.75em;
  border-right: 1px solid #eaeaea;
}

.wfc-cart-footer-top-right{
  flex: 1;
}

.wfc-cart-footer-subtotal {}
.wfc-cart-footer-subtotal,
.wfc-cart-footer-total {
  /* flex: 1; */
  padding: 0.5em 1.4em 0.5em 1em;
  text-align: center;
}

.wfc-cart-footer-subtotal-title,
.wfc-cart-footer-total-title{
  display: inline-flex;
  font-size: 22px;
  text-transform: capitalize;
  margin: 0 10px 0 0;
}
.wfc-cart-footer-subtotal span,
.wfc-cart-footer-total-title span{
  font-size: 18px;
}
.wfc-cart-footer-total{}
.wfc-cart-footer-bottom{
  padding: 1em 1.4em 1em 1em;
  text-align: center;
}
.wfc-cart-footer-bottom button:first-child{
  margin-right: 2em;
}
.wfc-cart-footer-bottom button:focus{
  box-shadow: none;
}

/* Cart Footer End */

.wfc-list-item{
  padding: 0 0 15px;
  margin: 0 0 50px;
  border-bottom: solid 1px #e6e6e6;
  width: 100%;
}

.wfc-list-item {
  padding: 0;
  border-bottom: 0;
  width: 100%;
}

.wfc-product-item {
  position: relative;
}

.wfc-product-item {
  display: inline-block;
}

.wfc-list-item .wfc-product-item {
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0;
  border-bottom: 1px solid #f5f5f5;
  display: inline-flex;
  width: 100%;
}

.wfc-list-item .wfc-product-item:first-child {
  padding-top: 0;
}

.wfc-list-item .wfc-product-item:last-child {
  border: none;
  margin: 0;
  padding-bottom: 15px;
}

.wfc-product-item .thumb {
  float: left;
  margin-right: 8px;
}

.wfc-list-item .wfc-product-item .thumb {
  float: left;
  margin-right: 25px;
}

.wfc-list-item .wfc-product-item .thumb img {
  width: 80px;
}

.wfc-product-item .info {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.wfc-product-item .info {
  margin: 0;
  padding-top: 12px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.wfc-list-item .wfc-product-item .info {
  margin: 0;
  padding-top: 0;
  padding-right: 25px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.wfc-product-item .product-name {
  font-size: 14px;
  color: #555555;
  display: inline-block;
  line-height: 20px;
  margin: 0;
}

.wfc-list-item .wfc-product-item .info .product-name {
  font-size: 14px;
  color: #0068c9;
  font-weight: 400;
  line-height: 1.2;
}

.wfc-product-item .price span {
  font-size: 16px;
  color: #0a2748;
  font-weight: 600;
}

.wfc-product-item .info .wfc-product-item-qty .price span {
  font-size: 14px;
  color: #222222;
  font-weight: 400;
  line-height: 30px;
}

.wfc-product-item .info .wfc-product-item-qty .qty {
  display: block;
  line-height: 1.2;
  font-size: 13px;
  color: #222222;
  font-weight: 400;
  margin-top: 5px;
}

.wfc-product-item .remove {
  color: #555555;
  font-size: 20px;
}

.wfc-list-item .wfc-product-item .remove {
  color: #343e45;
  font-size: 16px;
  display: flex;
  margin-left: auto;
}

.wfc-list-item .wfc-product-item .remove:hover {
  color: #1a73e8;
}

